<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>SnewIssueBook1</servlet-name>
        <servlet-class>Sservlets.SnewIssueBook1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AissuedBook</servlet-name>
        <servlet-class>Aservlets.AissuedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AeditBook2</servlet-name>
        <servlet-class>Aservlets.AeditBook2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ssearch</servlet-name>
        <servlet-class>Sservlets.Ssearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Slogout</servlet-name>
        <servlet-class>Sservlets.Slogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alogout</servlet-name>
        <servlet-class>Aservlets.Alogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SnewIssueBook1</servlet-name>
        <url-pattern>/SnewIssueBook1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SnewIssueBook2</servlet-name>
        <servlet-class>Sservlets.SnewIssueBook2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SnewIssueBook2</servlet-name>
        <url-pattern>/SnewIssueBook2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SissueBook</servlet-name>
        <servlet-class>Sservlets.SissueBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SissueBook</servlet-name>
        <url-pattern>/SissueBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SrenewBook1</servlet-name>
        <servlet-class>Sservlets.SrenewBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrenewBook1</servlet-name>
        <url-pattern>/SrenewBook1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SrenewBook2</servlet-name>
        <servlet-class>Sservlets.SrenewBook2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrenewBook2</servlet-name>
        <url-pattern>/SrenewBook2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SreturnBook2</servlet-name>
        <servlet-class>Sservlets.SreturnBook2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SreturnBook2</servlet-name>
        <url-pattern>/SreturnBook2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SreturnBook1</servlet-name>
        <servlet-class>Sservlets.SreturnBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SreturnBook1</servlet-name>
        <url-pattern>/SreturnBook1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Aregister</servlet-name>
        <servlet-class>Aservlets.Aregister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Aregister</servlet-name>
        <url-pattern>/Aregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AviewDelete</servlet-name>
        <servlet-class>Aservlets.AviewDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AviewDelete</servlet-name>
        <url-pattern>/AviewDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sregister</servlet-name>
        <servlet-class>Sservlets.Sregister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sregister</servlet-name>
        <url-pattern>/Sregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Slogin</servlet-name>
        <servlet-class>Sservlets.Slogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Slogin</servlet-name>
        <url-pattern>/Slogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AviewBook</servlet-name>
        <servlet-class>Aservlets.AviewBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AviewBook</servlet-name>
        <url-pattern>/AviewBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Alogin</servlet-name>
        <servlet-class>Aservlets.Alogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alogin</servlet-name>
        <url-pattern>/Alogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AaddBook</servlet-name>
        <servlet-class>Aservlets.AaddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AaddBook</servlet-name>
        <url-pattern>/AaddBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>Aservlets.DeleteBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AaddBook1</servlet-name>
        <servlet-class>Aservlets.AaddBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AaddBook1</servlet-name>
        <url-pattern>/AaddBook1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Alogin1</servlet-name>
        <servlet-class>AsessionServlets.Alogin1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alogin1</servlet-name>
        <url-pattern>/Alogin1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AeditBook</servlet-name>
        <servlet-class>Aservlets.AeditBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeditBook</servlet-name>
        <url-pattern>/AeditBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AeditBook1</servlet-name>
        <servlet-class>Aservlets.AeditBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeditBook1</servlet-name>
        <url-pattern>/AeditBook1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AissuedBook</servlet-name>
        <url-pattern>/AissuedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AeditBook2</servlet-name>
        <url-pattern>/AeditBook2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ssearch</servlet-name>
        <url-pattern>/Ssearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Slogout</servlet-name>
        <url-pattern>/Slogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alogout</servlet-name>
        <url-pattern>/Alogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
<!--<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>SnewIssueBook2</servlet-name>
        <servlet-class>Sservlets.SnewIssueBook2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SissueBook</servlet-name>
        <url-pattern>/SissueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrenewBook1</servlet-name>
        <url-pattern>/SrenewBook1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrenewBook2</servlet-name>
        <url-pattern>/SrenewBook2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SreturnBook2</servlet-name>
        <url-pattern>/SreturnBook2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SreturnBook1</servlet-name>
        <url-pattern>/SreturnBook1</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>SnewIssueBook1</servlet-name>
        <url-pattern>/SnewIssueBook2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SnewIssueBook2</servlet-name>
        <url-pattern>/SnewIssueBook2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>LibraryMgmt</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>Aregister</display-name>
        <servlet-name>Aregister</servlet-name>
        <servlet-class>Aservlets.Aregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AviewDelete</servlet-name>
        <servlet-class>Aservlets.AviewDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AviewDelete</servlet-name>
        <url-pattern>/AviewDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aregister</servlet-name>
        <url-pattern>/Aregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Sregister</display-name>
        <servlet-name>Sregister</servlet-name>
        <servlet-class>Sservlets.Sregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SissueBook</servlet-name>
        <servlet-class>Sservlets.SissueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrenewBook1</servlet-name>
        <servlet-class>Sservlets.SrenewBook1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrenewBook2</servlet-name>
        <servlet-class>Sservlets.SrenewBook2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SreturnBook2</servlet-name>
        <servlet-class>Sservlets.SreturnBook2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SreturnBook1</servlet-name>
        <servlet-class>Sservlets.SreturnBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sregister</servlet-name>
        <url-pattern>/Sregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Slogin</display-name>
        <servlet-name>Slogin</servlet-name>
        <servlet-class>Sservlets.Slogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Slogin</servlet-name>
        <url-pattern>/Slogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AviewBook</display-name>
        <servlet-name>AviewBook</servlet-name>
        <servlet-class>Aservlets.AviewBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AviewBook</servlet-name>
        <url-pattern>/AviewBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Alogin</display-name>
        <servlet-name>Alogin</servlet-name>
        <servlet-class>Aservlets.Alogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alogin</servlet-name>
        <url-pattern>/Alogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AaddBook</display-name>
        <servlet-name>AaddBook</servlet-name>
        <servlet-class>Aservlets.AaddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AaddBook</servlet-name>
        <url-pattern>/AaddBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DeleteBook</display-name>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>Aservlets.DeleteBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AaddBook1</display-name>
        <servlet-name>AaddBook1</servlet-name>
        <servlet-class>Aservlets.AaddBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AaddBook1</servlet-name>
        <url-pattern>/AaddBook1</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Alogin1</display-name>
        <servlet-name>Alogin1</servlet-name>
        <servlet-class>AsessionServlets.Alogin1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alogin1</servlet-name>
        <url-pattern>/Alogin1</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AeditBook</display-name>
        <servlet-name>AeditBook</servlet-name>
        <servlet-class>Aservlets.AeditBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeditBook</servlet-name>
        <url-pattern>/AeditBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AeditBook1</display-name>
        <servlet-name>AeditBook1</servlet-name>
        <servlet-class>Aservlets.AeditBook1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeditBook1</servlet-name>
        <url-pattern>/AeditBook1</url-pattern>
    </servlet-mapping>
</web-app>
-->
